<form class="mb-9" method="POST" action="">
  <div class="mb-3">
    <label for="exampleKeyword" class="form-label">Find a keyword</label> <br>
    <input type="text" name="q" class="form-control" id="exampleKeyword" placeholder="Enter keyword">
  </div>  

  <div class="mb-3">
    <label for="exampleGender" class="form-label">Gender</label> <br> 
    <select class="form-select" id="exampleGender" name="gender">
      <option value="">Select gender</option>
      <option value="male">Male</option> 
      <option value="female">Female</option>
    </select> <!-- Fixed missing closing tag -->
  </div>
  
  <button type="submit" class="btn btn-primary">Search</button>
</form> 

{{!-- MVC --}} 

